/* GLOBAL STYLES */

:root {
	--primary-color: #e5e5e5;
	--secondary-color: #f0f0f0;
	--text-color: black;
	--positive-change-color: green;
	--negative-change-color: red;
	--loading-light: rgb(116, 167, 255);
	--loading-dark: blue;
	--error-light: rgb(255, 116, 116);
	--error-dark: red;
}

* {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	word-spacing: -0.2em;
}

.button {
	background-color: var(--primary-color);
	border: none;
	border-radius: 8px;
	padding: 0.75rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.button:active {
	transform: scale(0.75);
}

.container {
	display: grid;
	place-items: center;
	gap: .5rem;
}

/* HEADER STYLES */

#countdownContainer {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.time-box {
    background: var(--secondary-color);
    padding: 8px 16px;
    border-radius: 8px;
    min-width: 90px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	font-weight: bold;
}

.time-box span {
    display: block;
    font-weight: bold;
    color: #e43f5a;
}

.time-box small {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e43f5a;
}

#header {
	background-color: var(--primary-color);
	padding: 0.75rem 2rem;
	display: flex;
	justify-content: space-between;
}

#logoHeader {
	cursor: pointer;
}

.logo {
	color: black;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	display: flex;
}

.logo-image {
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
}

#searchDiv {
	display: flex;
	justify-content: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 8px;
}

#searchDiv:focus-within {
	outline: 2px solid black;
}

#searchInput {
	border: none;
	border-radius: 8px;
	margin-left: 8px;
}

#searchInput:focus-visible {
	outline: none;
}

#searchButton {
	background-color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	transition: all 0.3s ease;
}

#searchButton:active {
	transform: scale(0.75);
}

/* MAIN CONTAINER STYLING */

/* CRYPTO DATA CONTAINER STYLING */
#cryptoDataContainer {
	width: 100%;
	display: grid;
	place-items: center;
}

#cryptoPageButtons button {
	margin: 0.5rem 0;
}

#imageIndex {
	font-size: .9rem;
	margin: 0.5rem;
	padding: 0.5rem;
}

/* CRYPTO TABLE STYLING */

#cryptoDataTable {
	text-align: left;
	margin: 1rem 2rem;
	display: grid;
	place-items: center;
	border-collapse: collapse;
}

th,
td {
	border-bottom: 1px solid gray;
}

tr {
	cursor: pointer;
}

.crypto-index {
	width: 5%;
	padding: 0.5rem 0;
}

.crypto-details {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 10px;
}

.crypto-image {
	width: 24px;
	height: 24px;
}

.crypto-name {
	font-size: 1rem;
}

.crypto-id {
	font-size: 0.9rem;
	color: gray;
	text-transform: uppercase;
}

.crypto-price {
	width: 30%;
	padding: 10px;
}

.crypto-change {
	width: 20%;
	padding: 10px;
}

/* LOADING STATE STYLING */

.loadingStateText {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: var(--loading-light);
	padding: 0.75rem 1rem;
	width: min(90%, 480px);
	margin: 0;
	border: 2px solid var(--loading-dark);
	border-radius: 8px;
	z-index: 10;
}

/* ERROR MESSAGE STYLING */

.errorMessage {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: var(--error-light);
	padding: 0.75rem 1rem;
	width: min(90%, 480px);
	margin: 0;
	border: 2px solid var(error-dark);
	border-radius: 8px;
	z-index: 10;
}

/* COIN PAGES CONTAINER STYLING */

#coinPagesContainer {
	display: grid;
	text-align: left;
	margin: 1rem 2rem;
	place-items: center;
	height: 100vh;
}

.coin-page-header {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0 auto;
}